<div class="box-component-container">
    <h2>Log On</h2>
    <form [formGroup]="userNameForm" (ngSubmit)="handleSubmit()" autocomplete="off">
        <div class="form-group">
            <label for="userName">Please enter your username :</label>
            <input id="userName" type="text" formControlName="userName" [ngClass]="{'form-control': true, 'is-invalid': userNameError}"
                (blur)="handleInputBlur()" (focus)="handleInputFocus()" />
            <div class="alert alert-danger" role="alert" *ngIf="userNameError">{{userNameError}}</div>
        </div>
        <div class="form-check">
            <input id="rememberMe" type="checkbox" formControlName="rememberMe" class="form-check-input" />
            <label for="rememberMe" class="form-check-label">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary continue-button">
            <span class="spinner-border" *ngIf = "spinner"></span>
            <span class="continue-text" *ngIf ="!spinner">Continue</span>
        </button>
    </form>
    <hr>
    <div>
        <a routerLink = "signup">Don't have an account ? Signup here!</a>
    </div>
</div>