/* You can add global styles to this file, and also import other style files */
@import 'src/_styleVariables.scss';

*{
    margin: 0;
    padding: 0;
}

.box-component-container{
    width:35%;
    border: 2px solid $default-color;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
}

.alert{
    margin: 10px 0;
    padding: .4rem 1.25rem;
}