/* You can add global styles to this file, and also import other style files */
@import 'src/_styleVariables.scss';

@import 'src/_styleVariables.scss';

*{
    margin: 0;
    padding: 0;
}

.box-component-container{
    width:35%;
    border: 2px solid $default-color;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
}

.alert{
    margin: 10px 0;
    padding: .4rem 1.25rem;
}

hr{
    border: 1px solid $default-color;
}

//spinner styles start
.spinner-border {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    100% { 
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    }
}

//spinner styles end
