<div class="box-component-container">
    <h2>Log On</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="handleSubmit()" autocomplete="off">
        <div class="form-group">
            <label for="password">Password :</label>
            <input id="password" type="text" formControlName="password"
                (blur)="handleInputBlur()" (focus)="handleInputFocus()" autofocus/>
            <div class="alert alert-danger" role="alert" *ngIf="passwordError">{{passwordError}}</div>
        </div>
        <button type="submit" class="btn btn-primary login-button">
            <span class="spinner-border" *ngIf = "spinner"></span>
            <span class="continue-text" *ngIf ="!spinner">Login</span>
        </button>
    </form>
</div>
